@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.primary-bg-black {
  background: rgb(19, 19, 20);
}
.primary-bg-dark {
  background: rgb(0, 0, 0);
}

.primary-tx-white {
  color: rgb(224, 224, 228);
}
.primary-tx-white:hover {
  color: rgb(255, 255, 255);
}

.primary-tx-gray {
  color: rgb(171, 171, 171);
}
.primary-tx-gray:hover {
  color: rgb(255, 255, 255);
}

canvas {
  touch-action: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-height {
  height: calc(100vh - 60px);
}

.btn {
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
  background-color: #007bff; /* Assuming 'bg-blue' is blue */
  margin: 1.25rem 0;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.btn:hover {
  background-color: transparent;
  border-color: #007bff;
  color: #007bff;
}

.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 9999px;
  background-color: #d1d5db; /* Assuming 'bg-gray-300' */
  backdrop-filter: blur(10px);
}

.size-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: 9999px;
  background-color: #d1d5db;
  backdrop-filter: blur(10px);
  margin-left: 0.75rem;
  gap: 0.25rem;
}

.size-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 9999px;
  transition: all 0.3s;
}

.common-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 640px) {
  .common-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.section-heading {
  color: #6b7280; /* Assuming 'text-gray' */
  font-size: 3.275rem;
  margin-bottom: 1.25rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(5rem);
}

.feature-text {
  color: #6b7280;
  max-width: 28rem;
  font-size: 1.125rem;
  font-weight: 600;
  opacity: 0;
  transform: translateY(6.25rem);
}

.feature-text-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
}

.feature-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5);
  opacity: 0;
}

.feature-video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
}

.link {
  color: #007bff;
  font-size: 1.25rem;
  opacity: 0;
  transform: translateY(5rem);
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.control-btn {
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 9999px;
  background-color: #d1d5db;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  text-align: center;
  font-weight: 600;
  font-size: 1.875rem;
  color: #f3f4f6; /* Assuming 'text-gray-100' */
  opacity: 0;
}

.hiw-title {
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
}

.hiw-subtitle {
  color: #6b7280;
  font-weight: 600;
  font-size: 1.25rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.hiw-video {
  position: absolute;
  width: 95%;
  height: 90%;
  border-radius: 56px;
  overflow: hidden;
}

.hiw-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6rem;
}

.hiw-text {
  color: #6b7280;
  font-size: 1.125rem;
  font-weight: 400;
}

.hiw-bigtext {
  color: white;
  font-size: 1.875rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.video-carousel_container {
  position: relative;
  width: 88vw;
  height: 35vh;
}

@media (min-width: 640px) {
  .video-carousel_container {
    width: 70vw;
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .video-carousel_container {
    height: 70vh;
  }
}

.g_fadeIn {
  opacity: 0;
  transform: translateY(6.25rem);
}

.footer {
  width: 100%;
  height: 810px;
  background: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer__wrapper {
  width: 970px;
}

.footer ul {
  font-size: 12px;
  list-style: none;
  color: #86868b;
  border-bottom: 1px solid var(--greyLight);
}

.footer ul li {
  margin: 15px 0;
  letter-spacing: 0.1px;
}

.footer__links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links--column {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__links--column-title {
  font-weight: 400;
  font-size: 12px;
  margin-top: 18px;
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}

.footer__links--column a {
  pointer-events: auto; /* Убедитесь, что ссылка доступна для клика */
  cursor: pointer;
  font-size: 12px;
  color: #515154;
  margin-bottom: 12px;
}

.footer__more {
  font-size: 13px;
  color: #86868b;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--greyLight);
}

.footer__more a {
  color: #06c;
}

.footer__copyright {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  color: #86868b;
  margin-top: 4px;
  position: relative;
}

.footer__copyright .links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer__copyright .links a {
  padding: 0 10px;
  color: #515154;
  border-left: 1px solid var(--greyLight);
}

.footer__copyright .links a:nth-child(1) {
  border: none;
}

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer base {
  .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
